<!--
    * Title    : <%= PageTitle %>
    * Desc     : 
    * Copyright: Shanghai Batchsight Pharmaceutical Technologies, Inc. Copyright(c) 2023
    * Version  : 1.0
    * History  : create <%= Year %>年 <%= Month %>月 <%= Date %>日 by <%= PageAuthor %>
-->
<template>
  <div></div>
</template>

<script setup lang="ts">
  defineOptions({
    name: "<%= PageName %>Page",
  });
</script>

<style scoped lang="scss"></style>
